@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme inline {
  --color-bg: var(--clr-bg);
  --background-image: var(--mon-image);
  --color-green: var(--clr-green-300);
  --color-btn: var(--clr-green);
  --color-bg: var(--clr-bg);
  --font-grotesk: "Open-sans", sans-serif;
  --color-gray: var(--clr-gray-300);
  --color-gray-400: var(--clr-gray-400);
}

@layer base {
  :root {
    --clr-bg: var(--clr-gray-900);
    --clr-black: oklch(0% 0 0);
    --clr-003A70: oklch(32.8% 0.128 267.9);
    --clr-6A6A6A: oklch(45.5% 0.002 262);
    --clr-6C757D: oklch(49.1% 0.013 248.4);
    --clr-808080: oklch(53.6% 0.001 264);
    --clr-818181: oklch(53.9% 0.001 264);
    --clr-C1C1C1: oklch(80.1% 0.004 260);
    --clr-C5C5C5: oklch(81.4% 0.004 260);
    --clr-CE920C: oklch(70.8% 0.171 79.2);
    --clr-CED4DA: oklch(86.1% 0.008 250);
    --clr-CF5A03: oklch(58.4% 0.211 48.3);
    --clr-D53D50: oklch(57.6% 0.213 17.1);
    --clr-DAA61F: oklch(76.5% 0.162 83.9);
    --clr-EA4159: oklch(63.3% 0.233 18.4);
    --clr-F2F2F2: oklch(95.4% 0.002 260);
    --clr-FAF4E7: oklch(96.8% 0.022 93.8);
    --clr-white: oklch(100% 0 0);
    --clr-1C7CB9: oklch(55.7% 0.132 250.7);
    --clr-212529: oklch(27.8% 0.006 255.4);
    --clr-336699: oklch(46.9% 0.114 253.2);
    --clr-373A36: oklch(24.8% 0.007 135.6);
    --clr-395670: oklch(38.5% 0.065 250.9);
    --clr-3D3D3D: oklch(28.5% 0.002 265);
    --clr-626A7C: oklch(43.2% 0.034 256.3);
    --clr-5D2DE6: oklch(46.1% 0.261 294.6);
    --mon-image: url("/image-profile-mobile.webp");
  }
}

